<div class="postgrid">
    {% for post in site.posts %}
    {% if post.draft == true %}
    {% continue %}
    {% endif %}
    {% if page.required_tag %}
    {% unless post.tags contains page.required_tag %}
    {% continue %}
    {% endunless %}
    {% endif %}
    {% assign author = site.authors | where: 'short_name', post.author | first %}
    <div class="post-summary">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <i>{{ post.date | date: "%-d %B %Y" }}</i>
        <br/>
        <br/>
        {{ post.excerpt }}
        <i>Tags: {{ post.tags | join: ", " }}</i>
        <!--      <hr/>-->
    </div>
    {% endfor %}
</div>
&nbsp;
&nbsp;
&nbsp;
<div>
    <b>All content on this site was written by a human. No language models were used to generate, summarise, or rephrase any of the content here.</b>
</div>
