<div class="newsletter-container">
  <h3>Subscribe to Newsletter</h3>
  <form
        action="https://buttondown.com/api/emails/embed-subscribe/ettenmoor"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.com/ettenmoor', 'popupwindow')"
        class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email to receive updates</label>
    <input type="email" name="email" id="bd-email" placeholder="your@email.com" />
    <input type="submit" value="Subscribe" />
  </form>
</div>
