<h1>Latest Posts</h1>

<h2>Machine Learning Theory Track</h2>

(Click the image below to see the full-size image)
<a href="/assets/images/machine-learning-theory-map.png"><img src="/assets/images/machine-learning-theory-map.png" border="1px solid"></a>
<hr/>

<ul>
  {% for post in site.posts %}
  {% if post.draft == false %}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <small>{{author.name}} on {{ post.date | date: "%-d %B %Y" }}</small>
      {{ post.excerpt }}
    </li>
  {% endif %}
  {% endfor %}
</ul>
