<h2>Machine Learning Theory Track</h2>

(Click the image below to see the full-size image)
<a href="/assets/images/machine-learning-theory-map.png"><img src="/assets/images/machine-learning-theory-map.png" border="1px solid"></a>
<hr/>

<h2>Latest Posts</h2>

<ul>
  {% for post in site.posts %}
  {% if post.draft == false %}
    {% assign author = site.authors | where: 'short_name', post.author | first %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.date | date: "%-d %B %Y" }}
      <br></br>
      {{ post.excerpt }}
      <hr/>
    </li>
  {% endif %}
  {% endfor %}
</ul>
