---
---

@import "{{ site.theme }}";

body {
  //display: none;
  //background-color: black;
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
  width: 1200px;
}

section {
  width: 900px;
}

.postgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

.post-summary {
  border: 1px solid;
  padding: 5px;
  background-color: aliceblue;
}

.mermaid svg { height: auto; }
