/* resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	font-family:Tahoma, Arial, sans-serif;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	color:#444;
}
ol, ul, ol li, ul li {
	list-style: none;
	list-style-position:inside !important;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/* generic tags */
body {
	font:62.5% Tahoma,Arial,sans-serif;
	overflow-y:scroll;
	background-attachment:fixed;
}
h1 {
	font:bold 2.2em Arial,sans-serif;
}
h2,h3 {
	font:bold 1.8em Arial,sans-serif;
	text-transform:uppercase;
	border-bottom:3px #ccc solid;
	margin-bottom:6px;
}
h3 {
	font-size:1.3em;
	line-height:1.1em;
	margin:16px 0 4px 0;
}
h4 {
	font:italic bold 1.2em Arial,sans-serif;
	border-bottom:3px #ddd solid;
	margin:16px 0 4px 0;
}
table {width:97%;border:1px #ccc solid;border-bottom:0;margin:7px;}
table th {padding:4px 5px; font:bold 1.1em Arial,sans-serif;background:#ddd;border-bottom:1px #bbb solid;}
table td { font-size:100%;  padding:1px 5px;border-bottom:1px #ccc solid;}
table tr.alt td { background-color:#eee;}
table tr.over td {background-color:#e1e1e1;}

blockquote {
	margin:15px;
	font:italic 1.1em Georgia,sans-serif;
	line-height:1.5em;
	padding:10px 15px;
	background:#eee;
	border:1px #d5d5d5 solid;
}
blockquote p {margin:0;text-align:left;}

code {
	font:1.1em Consolas,monospace;
}
pre {
	font:0.9em Consolas,monospace;
	background:#2c2c2c;
	margin:15px;
	margin-left:0;
	padding:10px 15px;
	border:1px #353535 solid;
	position:relative;
	left:-31px;
	border-left:0;
	padding-left:45px;
}
ol, ul {
	margin:15px 0;
}
ol ol, ul {
	margin:0;
}
ol li {
	margin-left:55px;
	list-style:decimal;
}
ol li li {
	list-style:lower-alpha;
}

ol li li li {
	list-style:lower-roman;
}
ul li {
	margin-left:55px;
	list-style:square;
}
ul li li {
	list-style:disc;
}

ul li li li {
	list-style:circle;
}
img {
	padding:5px;
	background:white;
	border:1px #ddd solid;
	border-color:#ccc #d5d5d5 #d5d5d5 #ccc;
	margin:7px;
	max-width:571px;
}
img.left {
	margin-left:0;
}
img.right {
	margin-right:0;
}
p {
	text-align:justify;
	margin:6px 0;
}
a {
	color:#535353;
	text-decoration:none;
	font-family: Arial,sans-serif;
	font-weight:bold;
	padding:2px 2px 0 2px;
	border-bottom:3px #d2d2d2 solid;
}
a:hover {
	color:black;
	border-bottom-color:#b3b3b3;
}


/* generic classes */
.left {
	float:left;
}
.right {
	float:right;
}





/* messages */
.message {
	border:solid 1px #DEDEDE;
	background-color:#EFEFEF;
	color:#222222;padding:5px 10px; }

.warning {
	border:solid 1px #cc9;
	background:#eeb;padding:5px 10px; }

.ok {
	border:solid 1px #3c7f34;
	background:#8FE886;
	color:#113d24;padding:5px 10px; }

.error {
	border:solid 1px #BF1209;
	background:#FF8480;padding:5px 10px; }



/* forms */
fieldset {
	padding:0;
	border:0px #ddd solid;
	margin:7px 0;
	margin-bottom:15px; }

label {
	font-size:12px;
	width:35%;
	text-align:right;
	display:block;
	float:left;
	padding:10px 5px;
	color:#777;
	}
#emailForm label {padding:13px 5px;}
input,select, button {
	padding:2px;
	border:1px #ccc solid;
	color:#333;
	margin:0;
	width:250px;
	background:#ededed; }
	
input[type=submit] {
	width:auto;
}

textarea {
	padding:3px;
	border:1px #ccc solid;
	color:#333;
	width:98%;
	margin:0 0 0 1px; }

input.hover, select.hover, button.hover {
	border-color:#aaa;
	background:#efefef; }

input.button.hover, button.hover { color:#000; }

input.focus, select.focus {
	border-color:#999;
	background:white; }

input.checkbox {
	width:auto;
	margin:0 7px; }

.form-row, .form-submit {
	clear:both;
	border-top:1px #dedede solid; }

	.form-row span {
		padding:10px 5px;
		display:block;
		float:left;
		width:61%; }
	.form-submit {
		padding:10px 5px;
		padding-left:222px;
	}
.form-row-last, .form-submit {border-bottom:0;border-top:1px #dedede solid;}

input.page-title {
	font-size:2em;
	width:100%; }
div.form-row span em {display:block;float:left;width:100px;color:#777777;}

input.radio {background:transparent;border:0;width:auto;margin:5px 4px;display:block;float:left;clear:left;}
input.button, button { width:auto; }
